altgraph==0.17.4
black==24.4.2
click==8.1.7
colorama==0.4.6
mypy-extensions==1.0.0
packaging==24.1
pathspec==0.12.1
pefile==2023.2.7
platformdirs==4.2.2
pyinstaller==6.9.0
pyinstaller-hooks-contrib==2024.7
PyQt6==6.7.0
PyQt6-Qt6==6.7.2
PyQt6_sip==13.8.0
pywin32-ctypes==0.2.2
setuptools==71.1.0
